@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #e45603;
}

main {
    width: 98vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(96, 180, 219);
    border-radius: 20px;
    margin: 80px 5px;
    width: 600px;
    font-size: 1.5em;
    padding: 40px;
    min-height: 500px;
}

div.img {
    width: 100%;
    border: 3px solid rgb(196, 75, 6);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
}

div.img > img {
    width: 100%;
}

.conteudo {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 20px;
}

.inpt-group {
    display: block;
}

div.aluno {
    margin-bottom: 20px;
}

input#aluno {
    width: 58%;
    box-sizing: border-box;
    border: 3px inset #e45603;
    box-shadow: #e45603;
    margin-bottom: 20px;
    border-radius: 10px;
}

input#freq {
    width: 37%;
    box-sizing: border-box;
    border: 3px inset #e45603;
    border-radius: 10px;
}

aside {
    margin: 30px 50px 30px
}

#media {
    width: 70px; 
    height: 70px;
    padding: 10px;
    margin-left: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9; 
    cursor: auto; 
    user-select: none; /* Impede a seleção do texto */
    -webkit-user-select: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none; /* Para navegadores Firefox */
    -ms-user-select: none; /* Para navegadores baseados em Internet Explorer/Edge */
}

button {
    width: 49.3%;
    border: 3px inset #e45603;

}

div.resultado > p {
 margin-top: 20px;
}